extends layout

block content
	#banner
		.row
			.col-sm-11
				h1 Loc8r
					small &nbsp;Find places to work with wifi near you!
	.row
		.col-sm-11.col-md-8
			.row.list-group
				.col-sm-12.list-group-item
					h4
						a(href='/location') Kopitiam Kita
						small &nbsp;
							span.badge.pull-right.badge-info 100
						p.address Kota Bharu, Kelantan
						p
							span.badge.badge-warning Hot Drinks
							&nbsp;
							span.badge.badge-warning Foods
							&nbsp;
							span.badge.badge-warning Wifi
							&nbsp;
				.col-sm-12.list-group-item
					h4
						a(href='/location') Kopitiam Kita
						small &nbsp;
							span.badge.pull-right.badge-info 100
						p.address Kota Bharu, Kelantan
						p
							span.badge.badge-warning Hot Drinks
							&nbsp;
							span.badge.badge-warning Foods
							&nbsp;
							span.badge.badge-warning Wifi
							&nbsp;

			.col-sm-12.col-md-4
				small.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for. 